**Bayesian Logistic Regression**

Predict likeliness to default given credit data from a popular R dataset

In [13]:
using Turing, Distributions
using RDatasets
using MCMCChains, Plots, StatsPlots
using MLDataUtils: shuffleobs, stratifiedobs, rescale!
using StatsFuns: logistic
using Random

Random.seed!(0)
Turing.turnprogress(false)

┌ Info: [Turing]: progress logging is disabled globally
└ @ Turing /home/sahil/.julia/packages/Turing/d4vqQ/src/Turing.jl:22

false

In [14]:
data = RDatasets.dataset("ISLR", "Default");
first(data, 6)

6×4 DataFrame
│ Row │ Default │ Student │ Balance │ Income  │
│     │ Cat…    │ Cat…    │ Float64 │ Float64 │
├─────┼─────────┼─────────┼─────────┼─────────┤
│ 1   │ No      │ No      │ 729.526 │ 44361.6 │
│ 2   │ No      │ Yes     │ 817.18  │ 12106.1 │
│ 3   │ No      │ No      │ 1073.55 │ 31767.1 │
│ 4   │ No      │ No      │ 529.251 │ 35704.5 │
│ 5   │ No      │ No      │ 785.656 │ 38463.5 │
│ 6   │ No      │ Yes     │ 919.589 │ 7491.56 │

In [15]:
data[!, :DefaultNum] = [r.Default == "Yes" ? 1.0 : 0.0 for r in eachrow(data)]
data[!, :StudentNum] = [r.Student == "Yes" ? 1.0 : 0.0 for r in eachrow(data)]
select!(data, Not([:Default, :Student]))
first(data, 6)

6×4 DataFrame
│ Row │ Balance │ Income  │ DefaultNum │ StudentNum │
│     │ Float64 │ Float64 │ Float64    │ Float64    │
├─────┼─────────┼─────────┼────────────┼────────────┤
│ 1   │ 729.526 │ 44361.6 │ 0.0        │ 0.0        │
│ 2   │ 817.18  │ 12106.1 │ 0.0        │ 1.0        │
│ 3   │ 1073.55 │ 31767.1 │ 0.0        │ 0.0        │
│ 4   │ 529.251 │ 35704.5 │ 0.0        │ 0.0        │
│ 5   │ 785.656 │ 38463.5 │ 0.0        │ 0.0        │
│ 6   │ 919.589 │ 7491.56 │ 0.0        │ 1.0        │

In [18]:
function split_data(df, target; at=0.70)
    shuffled = shuffleobs(df)
    train, test = stratifiedobs(row -> row[target], shuffled, p=at)
end

split_data (generic function with 1 method)

In [19]:
features = [:StudentNum, :Balance, :Income]
numerics = [:Balance, :Income]
target = :DefaultNum

train, test = split_data(data, target, at = 0.05)
for feature in numerics
    μ, σ = rescale!(train[!, feature], obsdim=1)
    rescale!(test[!, feature], μ, σ, obsdim=1)
end

train_data = Matrix(train[:, features])
test_data = Matrix(test[:, features])
train_label = train[:, target]
test_label = test[:, target];

**Multinomial Logistic Regression**

**Linear Regression**

**Bayesian Poisson Regression**